*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
  background-color: #fff8f1;
}

p {
  font-family: "Didact Gothic", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #6f6f6f;
}

h1 {
  color: #6B2737;
}

/***************** NAV *****************/

nav ul {
  width: 100%;
  padding: 10rem 0rem 2rem 15rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  
}

nav li {
  margin: 1rem 1rem;
}

nav a{
  text-decoration: none;
  font-size: 1.1rem;
  font-family: 'Poiret One', "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: #4a1b26;
}

nav a:hover {
  text-decoration: underline;
}

@media (max-width: 585px){
  nav ul {
    width: 100%;
    flex-direction: column;
    align-content: center;
    text-align: center;
    padding: 2rem 0rem;
  }
}

@media (min-width: 586px) and (max-width: 1168px){
  nav ul {
    width: 100%;
    padding: 5rem 0rem 2rem 20rem;
  }
}

/**************** HERO *****************/

header  {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  background-color: #fffff1;
  padding-top: 3rem;
}

header h1{
  text-align: center;
  font-family: 'Tangerine', "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 5rem;
  padding-top: 3rem;
}

header img {
  max-height: 160px; 
}

h1 .logo-w {
  font-size: 6.5rem;
}

@media (min-width:637px) and (max-width: 800px){
  header img {
    max-height: 100px; 
  }
}

/**************** ASIDE ****************/

aside {
  width: 24%;
  margin: 3rem auto;
  padding: 2rem;
  background-color: #EECFD4;
  float: left;
}

aside form{
  text-align: right;
}

aside h2 {
  font-size: 1.7rem;
  font-family: 'Arima Madurai', "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: #4a1b26;
}

@media (max-width: 797px){
  aside {
    flex-direction: column;
    width: 100%;
  }
}

/*********** PRODUCTS SECTION ***********/
.item-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 75%;
  height: auto;
  padding: 2rem;
  margin: 3rem auto;   
  background-color: #EECFD4;
  float: right;
}

@media (max-width: 797px){
  
  .item-container{
    width: 100%;
    margin: 0;
  }
}

.item-container p {
  text-align: center;
  margin: 1rem;
}

.item{
  width: 220px;
  height: 30%;
  margin: 0 1rem auto;
  border: 2px solid #EAD7D1;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.clear {
  clear: both;
}


section {
  padding: 0 .75rem;
}

h2 {
  padding-top: 3rem;
  font-size: 2.3rem;
  text-align: center;
  font-family: 'Arima Madurai', "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: #4a1b26;
}

.filter h2 {
  padding-top: 1.5rem;
  padding-bottom: .5rem;
  font-size: 1.9rem;
}

h3 {
  font-size: 1.2rem;
  font-family: 'Poiret One', "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 800;
  text-align: center;
  color: #2a0f16;
}

/*********** FOOTER ***********/

footer {
  width: 100%;
  height: 8rem;
  margin: 0 auto;
  background-color: #fffff1;
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
}


input[type="submit"] {
  padding: .25rem;
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: 5px;
  font-size: .75rem;
  color: white;
}

label {
  font-family: "Didact Gothic", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #424242;
}





/*USE DISPLAY: FLEX
FLEX-WRAP: WRAP
