*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
  background-color: #fffff1;
}

p {
  font-family: "Didact Gothic", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #6f6f6f;
}

/* TODO: size images manually so this is not necessary */
img {
  max-height: 20rem;
}


h1 {
  color: #6B2737;
}

/***************** NAV *****************/

header nav {
  float: right;
}

nav ul {
  width: 100%;
  border: 1px solid red;
  margin: 5rem; 
  
}

nav li {
  float: left;  
  margin: 1rem 1rem;
}

nav a{
  text-decoration: none;
  font-size: 1.1rem;
  font-family: 'Poiret One', "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: #4a1b26;
}

nav a:hover {
  text-decoration: underline;
}

footer nav {
  text-align: center;
  float: left;
}

/**************** HERO *****************/

header img {
  max-height: 6rem;
  float: left;
}

header h1{
  text-align: center;
  font-family: 'Tangerine', "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 5rem;
}

h1 .logo-w {
  font-size: 6.5rem;
}

/**************** ASIDE ****************/

aside {
  width: 25%;
  margin: 0 auto;
  padding: 2rem;
  border: 1px solid black;
  float: left;
}

aside form{
  text-align: right;
}

aside h2 {
  font-size: 1.7rem;
  font-family: 'Arima Madurai', "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: #4a1b26;
}

/*********** PRODUCTS SECTION ***********/
.item-container{
  width: 100%;
  height: 100rem;
  padding: 2rem;
  margin: 0 auto;   
  background-color: #EECFD4;
  justify-content:flex-start; 
}

.item-container p {
  text-align: center;
  margin: 1rem;
}

.item{
  width: 22%;
  height: 30%;
  margin: 0 1rem auto;
  border: 2px solid #EAD7D1;
  background-color: white;
  float: right;
}

.clear {
  clear: both;
}

section {
  padding: 0 .75rem;
}

h2 {
  padding-top: 1.5rem;
  font-size: 2rem;
  text-align: center;
  font-family: 'Arima Madurai', "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: #4a1b26;
}

h3 {
  font-size: 1.2rem;
  font-family: 'Poiret One', "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 800;
  text-align: center;
  color: #2a0f16;
}

/*********** FOOTER ***********/

footer {
  width: 100%;
  height: 8rem;
  margin: 0 auto;
  border: 1px solid blue;
}


input[type="submit"] {
  padding: .25rem;
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: 5px;
  font-size: .75rem;
  color: white;
}

label {
  font-family: "Didact Gothic", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #424242;
}
